@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<hr/>

<h2>Quizzes</h2>
<QuizzRound Question="When was &quot;The Terminator&quot; released?" Answer="1984" />
<QuizzRound Question="No Answer" />
<QuizzRound Answer="No question" />

<hr/>

<h2>Favourite comic figures</h2>
<FavouriteSprunki HannahsFavourite="Aqua" />